{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href={% static 'style.css' %}>

</head>
<body>
    
    <h1> X/0 </h1>
    <div id="table">
        {% for i in patratele %}
            <div class="square" id="s{{i}}">  </div>
        {% endfor %}
    </div>

    <script src= {% static 'script.js' %} >
        
    </script>
    
    

</body>
</html>